# Laravel (PHP)
vendor/
.env
.phpunit.result.cache
/storage/*.key
/public/storage

# Node modules (React in frontend)
frontend/node_modules/

# IDE / Editor
.idea/
.vscode/
.DS_Store

# Logs
*.log

# Build (React nếu dùng build trong frontend)
frontend/build/
